nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 300ms;
}

nav .container {
  display: flex;
  align-items: center;
}

[aria-controls="navDropDown"] {
  display: none;
}

.nav__left {
  color: var(--white);
  margin-right: auto;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  transition: ease-in-out 0.3s;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__link a {
  font-size: 0.8125rem;
  font-weight: 600;
  font-family: "Hind", sans-serif;
  color: var(--white);
  text-transform: uppercase;
  margin-right: 2.5rem;
  line-height: 1.25rem;
}

.bg__header {
  background-image: url(/assets/CodeRad-assets/bg-header-1.jpg);
}

.bg__header,
.video-demo {
  background-color: var(--footer);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  z-index: 1;
  padding: 4.6875rem 0;
}

.bg__header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    30deg,
    rgba(21, 27, 38, 0.8),
    rgba(0, 0, 0, 0.2) 100%
  );
  z-index: -1;
}

.hero__wrapper {
  color: var(--white);
}

.hero__header {
  margin-bottom: 28px;
}

#why-me {
  padding: var(--size-100) 0;
}

.why-me-wrapper {
  display: flex;
  align-items: center;
}

.why-me-wrapper div {
  flex: 1;
}

.block-text {
  margin-right: var(--size-50);
}

.block-text span {
  color: var(--font-color-dark);
  font-weight: 300;
}

.block-text h2 {
  margin-bottom: var(--size-20);
  color: var(--font-color-dark);
  font-weight: 600;
  font-size: var(--size-40);
  font-family: "Hinds", sans-serif;
  line-height: 1.3;
}

.bg-contrast {
  background-color: var(--contrast);
  padding: var(--size-100) 0;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--size-20);
}

.service-card {
  padding: var(--size-30);
  box-shadow: 0 0 10px rgba(48, 63, 100, 0.15);
  background: white;
  border-radius: 8px;
}

.service-card > span {
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  background-color: red;
  float: left;
  margin-right: 16px;
}

span.bg-color-1 {
  background: linear-gradient(to right, #9ccdf3, #94aafd);
}

span.bg-color-2 {
  background: linear-gradient(to right, #55edc0, #4bdbdb);
}
span.bg-color-3 {
  background: linear-gradient(to right, #fda498, #f58b9e);
}
span.bg-color-4 {
  background: linear-gradient(to right, #f2a7ca, #c2894f);
}
span.bg-color-5 {
  background: linear-gradient(to right, #ffc187, #fe93a7);
}
span.bg-color-6 {
  background: linear-gradient(to right, #a1ecff, #7bbcff);
}

.video-demo {
  background-image: url(/assets/CodeRad-assets/bg-demo.jpg);
}

.video-demo {
  text-align: center;
}

.video-demo .block-text {
  padding-right: 0;
}

.video-demo .block-text h2,
.video-demo .block-text p {
  color: var(--white);
}
